/* Taken from https://github.com/dataphreak1001/mebious */

/* Based on the original mebious.co.uk style. */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #000000;
}

body, input {
    background: #000000;
    color: #00FF00;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
}

#text {
    display: inline;
}

#file {
    display: inline;
}

#outline {
    vertical-align: middle;
    border: 1px solid #000;
    display: inline;
    float: left;
    padding: 2px;
    clear: none;
    margin: 2px;
}

#outline input {
    border: 1px solid #006600;
    padding: 2px;
    vertical-align: middle;
}

#outline button, #outline a {
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid #00cc00;
    color: #00ff00;
    background: #000000;
    font-size: 0.7rem;
    padding: 2px;
}

#outline a:hover, button {
    cursor: default;
}

#posts {
    clear: both;
}

.post {
    width: 40%;
    word-wrap: break-word;
    position: relative;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.image {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}

.flash {
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: 5px;
    display: block;
    text-align: center;
    margin: 5px;
    font-size: 1vw;
}

.boardlist {
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 100;
}

.boardlist a {
  background: #000000;
  font-size: 2rem;
  border: 1px solid #006600;
  padding: 10px;
  color: #00ff00;
  text-decoration: none;
}

.boardlist > * {
  margin: 0 15px;
}

.github-logo {
  position: absolute;
  right: 0;
}

.github-logo img {
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
}

.nmebious-logo {
  position: absolute;
  right: 30px;
}

.nmebious-logo img {
  margin: 0 auto;
  display: block;
  margin-top: 5px;
}

.not-found-header {
  font-size: 3em;
  position: absolute;
  top: 45%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.about {
  padding: 25px;
  border: 1px solid #00FF00;
  text-align:center;
  width: 800px;
  margin:0 auto;
}

.about p {
  font-size: 2em;
}

.about a {
  font-size: 1em;
  text-decoration: none;
  color: #ffffff;
}

.pagination-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 30px;
}

.pagination-buttons a {
  background: #000;
  font-size: 30px;
  border: 1px solid #0f0;
  padding: 30px;
  display: block;
  color: #0f0;
  text-decoration: none;
}

.error * {
  color: #ff0000 !important;
  border-color: #ff0000 !important;
}
