<!DOCTYPE html>
<html>
  <head>
    <title>entry wired</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/mebious.css" />
    {% block additional-css %}
    {% endblock %}
   </script>
  </head>
<body>
  {% block body %}
  {% endblock %}
  </body>
</html>
