{% extends "base.html" %}

{% block additional-css %}
    {% if board-data.color %}
        <style>
          #outline input,
          #outline button,
          #outline a,
          .pagination-buttons a,
          .boardlist a {
            color: {{ board-data.color }};
            border-color: {{ board-data.color }};
          }
        </style>
        {% endif %}
{% endblock %}

{% block body %}
<body {% if board-data.background and user-prefs.backgrounds == "on" %} style="background: url(/static/backgrounds/{{ board-data.background }})" {% endif %}>
      {% if error %}
        <span class="flash">{{ error }}</span>
      {% endif %}
        <div id="outline" {% if error %} class="error" {% endif %} class="board-style">
         <form action="/web-view/submit/text" method="POST" id="text">
           <input name="text" size="32" maxlength="512" id="txt_in">
           <input type="hidden" name="csrf-token" value={{ csrf-token }}>
           <button>in_txt</button>
         </form>
         <form action="/web-view/submit/file" method="POST" id="file" enctype="multipart/form-data">
           <input name="file" type="file">
           <input type="hidden" name="csrf-token" value={{ csrf-token }}>
           <button>in_img</button>
         </form>
         <a href="/rss/{% if not single-board-p %}{{ active-board }}{% endif %}">rss</a>
        </div>

                {% ifequal user-prefs.icons "on" %}

      <a class="github-logo" href="https://github.com/ad044/nmebious"><img src="/static/img/github.png"></a>
      <a class="gear" href="/preferences"><img src="/static/img/gear.png"></a>
      <a class="nmebious-logo" href="/about"><img src="/static/img/nmebious.png"></a>
      {% endifequal %}
      <div id="posts">
         {% for text in text-posts %}
            <p class="post" style="{{ text.style }}">{{ text.data|safe }}</p>
         {% endfor %}
      </div>
      {% for file in file-posts %}
      <img class="image" src="/uploads/{{ active-board }}/{{ file.data }}" onerror="this.style.display='none'" style="{{ file.style }}"></img>
      {% endfor %}
      {% if not single-board-p %}
        <div class="boardlist">
            {% for board in board-names %}
                <a href="/boards/{{ board }}">{{ board }}</a>
            {% endfor %}
        </div>
      {% endif %}

        {% if pagination-enabled-p %}
      <div class="pagination-buttons">
        {% if prev-page %}
            <a href="/boards/{{ active-board }}?page={{ prev-page }}">ᐱ</a>
        {% endif %}
        {% if next-page %}
            <a href="/boards/{{ active-board }}?page={{ next-page }}">ᐯ</a>
        {% endif %}
	{% endif %}
      </div>
{% endblock %}
